@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 222 36% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --success: 120 100% 25.1%;
    --success-foreground: 0 0% 98%;
  }

  .dark {
    --background: 212 29% 10%;
    --foreground: 212 5% 90%;
    --card: 212 29% 10%;
    --card-foreground: 212 5% 90%;
    --popover: 212 29% 5%;
    --popover-foreground: 212 5% 90%;
    --primary: 95 38% 62%;
    --primary-foreground: 0 0% 0%;
    --secondary: 212 29% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 174 29% 20%;
    --muted-foreground: 212 5% 60%;
    --accent: 174 29% 20%;
    --accent-foreground: 212 5% 90%;
    --destructive: 0 90% 80%;
    --destructive-foreground: 212 5% 90%;
    --border: 212 29% 20%;
    --input: 212 29% 20%;
    --ring: 212 65% 66%;
    --radius: 0.5rem;
    --success: 120 100% 25.1%;
    --success-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
