.cm-editor {
  border: none;
  outline: none;
}
.cm-editor.cm-focused {
  border: none;
  outline: none;
}
.cm-editor .cm-scroller {
  @apply h-max flex-grow flex-col !items-baseline justify-start overflow-x-hidden font-sans;
}

.cm-editor {
  @apply flex-grow;
}

.cm-theme-none {
  @apply flex flex-grow flex-col;
}

.cm-content {
  @apply w-full;
}
